
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(61, 59, 59);
    color: white;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    height: 100vh;
}


.containerImage{
    width: 15rem;
}
.containerImage1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    transition: 300ms;
    cursor: pointer;
}

.containerImage1:hover{
    background-color: rgba(255, 255, 255, 0.137);
    border-radius: .2rem;
    transform: translateY(-.5rem);
}

.containerImage1:active{
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: .2rem;
    border: solid 1px white;
}
.img{
    width: 40%;
}
.imgHome{
    width: 100%;
}
.title{
    text-align: center;
    width: 65vw;
    font-size: clamp(1rem, 3.5vw, 5rem);
}
.title2{
    margin: 0;
    padding: 0;
    width: 100vw;
    font-size: clamp(1rem, 3.5vw, 2rem);
}
.tcolor{
    color: #1dfcfd;
}
.tcolor1{
    color: #1dfcfd;
    font-size: clamp(1rem, 15vw, 8rem);

}

.boton{
    background: rgb(29,252,253);
    background: linear-gradient(90deg, rgba(29,252,253,1) 0%, rgba(58,60,180,1) 100%);
    border-radius: .2rem;
    color: white;
    width: 14rem;
    height: 4rem;
    font-size: 1rem;
    margin: 1rem 0;
    overflow:hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    transition:all .2s ease-in-out;
    position: relative;
}

.boton:before{
    content:" ";
    display:block;
    width:200px;
    height:80px;
    background:rgba(255, 255, 255, .4);
    position:absolute;
    top:-10px;
    left:-200px;
    transform:rotate(-45deg);
    transition:all .2s ease-in-out;  
}
  
.boton:hover:before{
    margin-left:300%;
}

.boton:hover {
    border: 1px solid rgba(255, 255, 255, 1);
}

.description{
    font-size: clamp(.3rem, 2.5vw, .9rem);
    text-align: center;
}
.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    gap: 2rem;
}

.boxGrid{
    width: 90%;
    display: grid;
    text-align: center;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    gap: 1rem;
    margin-trim: 5rem;
}

.faceboton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33539b;
    width: 4.5rem;
    height: 1.5rem;
    gap: .3rem;
    border-radius: .2rem;
    border: 0;
    color: white;
}
.tboton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c8cd6;
    width: 4.5rem;
    height: 1.5rem;
    gap: .3rem;
    border-radius: .2rem;
    border: 0;
    color: white;
}
.inboton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a3086;
    width: 4.5rem;
    height: 1.5rem;
    gap: .3rem;
    border-radius: .2rem;
    border: 0;
    color: white;
}
.gboton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e42424;
    width: 5.5rem;
    height: 1.5rem;
    gap: .3rem;
    border-radius: .2rem;
    border: 0;
    color: white;
}

.botones{
    display: flex;
    gap: 1rem;
}